{% extends "admin/change_form.html" %}
{% load admin_static %}


{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'redactor/redactor.css' %}" />
<style type="text/css">
#content-main .field-description label {
    float: none;
    padding-bottom: 10px;
}
</style>
{% endblock extrastyle %}


{% block content %}
{{ block.super }}

<script src="{% static 'admin/js/jquery.min.js' %}"></script>
<script src="{% static 'redactor/redactor.min.js' %}"></script>
<script type="text/javascript">
$().ready(function() {
    $("#id_description").redactor({
        iframe: true,
        css: "{% static 'redactor/redactor-iframe.css' %}"
    });
    $('.timelist').each(function(num, el) {
        time_format = get_format('TIME_INPUT_FORMATS')[0];
        django.jQuery(el).html('');
        for (i=8; i<20; i++) {
          var time = new Date(1970,1,1,i,0,0);
          lnk = "javascript:DateTimeShortcuts.handleClockQuicklink(" + num + ", '" + time.strftime(time_format) + "');"
          /*django.jQuery(el).append('<li><a href="'lnk'">' + time.strftime('%H:%M') + '</a></li>');*/
          $(el).append('<li><a href="' + lnk + '">' + time.strftime(time_format) + '</a></li>');
        }
    });

});
</script>
{% endblock content %}
